openapi: 3.2.0
info:
  title: Neighbortunes Setlists API
  description: The unofficial Neighbortunes API provides access to setlists, shows, songs, venues, jamcharts, albums, metadata, links, uploads, and band appearances. No authentication is required.
  version: '2.0'
  contact:
    name: Neighbortunes
    url: https://www.neighbortunes.net
servers:
- url: https://neighbortunes.net/api/v2
  description: Neighbortunes v2 API
tags:
- name: Setlists
paths:
  /setlists/{id}.{format}:
    get:
      summary: Get a setlist by ID
      operationId: getSetlist
      parameters:
      - $ref: '#/components/parameters/Id'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          $ref: '#/components/responses/StandardResponse'
      tags:
      - Setlists
  /setlists/{column}/{value}.{format}:
    get:
      summary: Query setlists by column value
      operationId: querySetlists
      parameters:
      - $ref: '#/components/parameters/Column'
      - $ref: '#/components/parameters/Value'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/OrderBy'
      - $ref: '#/components/parameters/Direction'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          $ref: '#/components/responses/StandardResponse'
      tags:
      - Setlists
components:
  parameters:
    Direction:
      name: direction
      in: query
      schema:
        type: string
        enum:
        - asc
        - desc
        default: asc
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
    Column:
      name: column
      in: path
      required: true
      schema:
        type: string
    Format:
      name: format
      in: path
      required: true
      schema:
        type: string
        enum:
        - json
        - html
    OrderBy:
      name: order_by
      in: query
      schema:
        type: string
    Value:
      name: value
      in: path
      required: true
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
  responses:
    StandardResponse:
      description: Standard JSON or HTML response
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: integer
                description: 0 for success, 1 for failure
              error_message:
                type: string
              data:
                type: array
                items:
                  type: object
        text/html:
          schema:
            type: string
